<ion-header>
    <ion-toolbar color="primary">
      <ion-title>My Navigation Bar</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <ion-card-header>
    <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-card-subtitle>{{ Name }}</ion-card-subtitle><br/>
    <ion-card-title>{{ PF }}</ion-card-title>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
  </ion-card-content>
</ion-card>

<ion-content padding>
  <p>Response :</p>
  <p>{{ responseTxt }}</p>

  <ion-button color="primary" (click)="showTable()">Read from table</ion-button>
</ion-content>