<ion-toolbar color="primary">
    <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="film"></ion-icon>
        </ion-button>
      </ion-buttons>  
  <ion-label>ROAD DEVELOPMENT AUTHORITY</ion-label>
</ion-toolbar>

<ion-card class="sc-ion-card-ios-h sc-ion-card-ios-s hydrated">
    <img src="https://i.imgur.com/xxa4Fdj.jpg">
    <ion-card-header class="hydrated">
      <ion-card-subtitle role="heading" aria-level="3" class="hydrated">{{ Name }}</ion-card-subtitle>
       <ion-item>
          <ion-card-title role="heading" aria-level="2" class="hydrated" slot="start">{{ PF }}</ion-card-title>
         
          <ion-badge slot="end"><h1>22</h1></ion-badge>
        </ion-item>
    </ion-card-header>
    <ion-card-content class="card-content card-content-ios hydrated">
      <ion-card-subtitle role="heading" aria-level="3" class="hydrated">{{ NIC }}</ion-card-subtitle>
      <ion-card-subtitle role="heading" aria-level="3" class="hydrated">{{ Des }}</ion-card-subtitle>
      <ion-card-subtitle role="heading" aria-level="3" class="hydrated">{{ Grade }}</ion-card-subtitle>
      <ion-card-subtitle role="heading" aria-level="3" class="hydrated">{{ Div }}</ion-card-subtitle>      
    </ion-card-content>
  </ion-card>

<ion-content padding>
  <p>Response :</p>
  <p>{{ responseTxt }}</p>

  <ion-button color="primary" (click)="showTable()">Read from table</ion-button>
</ion-content>